.square {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10vw;
    height: 10vw;
    min-height: 38px;
    min-width: 38px;
    max-height: 125px;
    max-width: 125px;
    margin: 0;
}

[id='0102'] {
    transform: translate(100%);
}
